Source: wb-mqtt-snmp
Maintainer: Nikita Maslov <n.maslov@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-mqtt-snmp
Architecture: any
Depends: libc6 (>= 2.13), snmp, ${misc:Depends}
Description: Wiren Board MQTT to SNMP gateway
