[Unit]
Description=MQTT Driver for snmp devices
After=network-online.target wb-hwconf-manager.service wb-modules.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
ExecStart=/usr/bin/wb-mqtt-snmp -syslog
SuccessExitStatus=6

[Install]
WantedBy=multi-user.target
